<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect Root To Main Gaming Page" stopProcessing="true">
          <match url="^$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="^/playorionstars.net/index\.html$" negate="true" />
          </conditions>
          <action type="Redirect" url="/playorionstars.net/index.html" redirectType="Permanent" />
        </rule>
        <rule name="Redirect IndexHtml To Main Gaming Page" stopProcessing="true">
          <match url="^index\.html$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="^/playorionstars.net/index\.html$" negate="true" />
          </conditions>
          <action type="Redirect" url="/playorionstars.net/index.html" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>


